html{
    font-size: 10px;
}
body{
    text-align: center;
}
ul li{
    display: inline-block;
    text-transform: none;
    text-decoration: none;
}
ul{
    text-decoration: none;
}
nav{ 
    font-size: 2.3rem;
    position: fixed;
    top: 0em;
    right: 0em;
    background-color: brown;
    width: 100vw
}
#welcome-section{
    height: 100vh;
}