html{
    font-size: 10px;
}
body{
    text-align: center;
}
ul li{
    display: inline-block;
    text-transform: none;
    text-decoration: none;
}
ul{
    text-decoration: none;
}
nav{ 
    text-align: right;
    font-size: 2.3rem;
    position: fixed;
    top: 0em;
    right: 0em;
    background-color: brown;
    width: 100vw
}
#welcome-section{
    height: 100vh;
    background-color: rgb(143, 143, 25);
    margin-bottom: 0rem;

}
@media(max-width: 800px){
    html{
        font-size: 5px;
    }
}
h1{
   position: relative;
   top: 50%;
   font-size: 5rem;
}
h2{
    width: 100%;
    background-color: blue;
    font-size: 3rem;
    margin-top: 0rem;
    top: 0rem;
    margin-bottom: 0rem;
}
.project-tile{
    font-size: 1.5rem;
    background-color: red;
    padding-top: 2rem;
    margin-top: 0rem;
}
